body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.header{

}
.header .arrow{
    width: 41px;
    height: 40px;

}
.header .title{
    font-family: Roboto;
    font-size: 60px;
}
.header .settings{
    width: 70px;
    height: 64px;
}
.header .circles .circle{
    display: block;
    width: 13px;
    height: 13px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 30px;
    vertical-align: middle;
}
.content .album.artist_track{

}